MONGODB_URI=mongodb+srv://db_user:B66PpMgZRq5EUBVS@cluster0.tg1fq0z.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=subledger_v2
JWT_SECRET_KEY=61ad95a9a018ef7278bea20d8f501199b2e6dd399d26bf5616a5c4e314fc2a76
PORT=3000
JWT_EXPIRES_IN=1h